<goa-app-header url="https://example.com" heading="Ticket and Fine Payments">
  <a href="#">Support</a>
  <goa-app-header-menu heading="Tickets" leadingIcon="ticket">
    <a href="#" (click)="selectMenu('Cases'); $event.preventDefault()">Cases</a>
    <a href="#" (click)="selectMenu('Payments'); $event.preventDefault()">Payments still pending</a>
    <a href="#" (click)="selectMenu('Outstanding');$event.preventDefault()">Outstanding still pending and long item</a>
    <a href="#">Test</a>
  </goa-app-header-menu>
  <a href="#" class="interactive">Sign in</a>
</goa-app-header>

<span>Selected Menu: {{selectedMenu}}</span>
