<h1>Radio</h1>

<h2>Radio group with descriptions</h2>
<br>
<goa-radio-group
  name="color"
  goaValue
  [formControl]="reactiveFormCtrl"
  value="reactiveFormCtrl.value"
>
  <goa-radio-item
    name="color"
    value="red"
  >
    <div slot="description">
      <span class="customized-description-title">Content description</span>
      <small> Another test?</small>
      <p>
        Help test
      </p>
    </div>
  </goa-radio-item>
  <goa-radio-item
    name="color"
    value="blue"
    description="Item description"
  ></goa-radio-item>
  <goa-radio-item name="color" value="orange"></goa-radio-item>
</goa-radio-group>

<br/>
<goa-button (_click)="onClick()">Select Value</goa-button>
<br/>
<h4>Value is {{reactiveFormCtrl.value}}</h4>

<h2 id="radio-group-label">Basic with accessibility</h2>
<goa-radio-group
  name="color"
  arialabel="Color radio group"
  value="orange"
  (_change)="onChange($event)"
>
  <goa-radio-item
    name="color"
    arialabel="you are choosing color red"
    value="red"
  ></goa-radio-item>
  <goa-radio-item name="color" arialabel="you are choosing color blue" value="blue">
    <div slot="description">
      <span class="customized-description-title">Content description</span>
      <small> Another test?</small>
      <p>Help test</p>
    </div>
  </goa-radio-item>
  <goa-radio-item
    name="color"
    arialabel="you are choosing color orange"
    value="orange"
    description="Orange description"
  >
  </goa-radio-item>
</goa-radio-group>

<goa-radio-group
  name="color"
  arialabel="please select color"
  goaValue
  [formControl]="reactiveFormCtrl"
  [value]="reactiveFormCtrl.value"
>
  <goa-radio-item value="red" arialabel="you are choosing color red"></goa-radio-item>
</goa-radio-group>

<h2>Error</h2>
<goa-radio-group name="color1" value="orange" error>
  <goa-radio-item name="color1" value="red"></goa-radio-item>
  <goa-radio-item name="color1" value="blue"></goa-radio-item>
  <goa-radio-item name="color1" value="orange"></goa-radio-item>
</goa-radio-group>

<h2>Label</h2>
<goa-radio-group name="color2" value="orange">
  <goa-radio-item name="color2" label="Red" value="red"></goa-radio-item>
  <goa-radio-item name="color2" label="Blue" value="blue"></goa-radio-item>
  <goa-radio-item name="color2" label="Orange" value="orange"></goa-radio-item>
</goa-radio-group>

<h2>Disabled</h2>
<goa-radio-group name="color3" value="orange" disabled>
  <goa-radio-item name="color3" value="red"></goa-radio-item>
  <goa-radio-item name="color3" value="blue"></goa-radio-item>
  <goa-radio-item name="color3" value="orange"></goa-radio-item>
</goa-radio-group>

<h2>Orientation</h2>
<goa-radio-group name="color4" value="orange" orientation="horizontal" disabled="true">
  <goa-radio-item name="color4" value="red"></goa-radio-item>
  <goa-radio-item name="color4" value="blue"></goa-radio-item>
  <goa-radio-item name="color4" value="orange"></goa-radio-item>
</goa-radio-group>

<h2>Dynamic</h2>
@for(item of dynamicItems; track item) {
  <div>
    <h4>{{ item.name }}</h4>
    <goa-radio-group
      [attr.name]="item.name"
      [value]="item.value"
      (_change)="onChange($event)"
    >
      @for(option of item.options; track option.value) {
        <goa-radio-item
          [attr.name]="item.name"
          [value]="option.value"
          [label]="option.value"
        >
        </goa-radio-item>
      }
    </goa-radio-group>
  </div>
}


<h2>Binding</h2>
<div>Selected value: {{ boundVal }}</div>
<goa-radio-group goaValue name="bindingColor" [(ngModel)]="boundVal">
  <goa-radio-item name="bindingColor" value="red"></goa-radio-item>
  <goa-radio-item name="bindingColor" value="blue"></goa-radio-item>
  <goa-radio-item name="bindingColor" value="orange"></goa-radio-item>
</goa-radio-group>

<h2>Margin Spacing</h2>
<goa-radio-group
  mt="m"
  mb="xs"
  ml="xl"
  mr="2xl"
  name="color"
  value="orange"
  (_change)="onChange($event)"
>
  <goa-radio-item name="color" value="red"></goa-radio-item>
  <goa-radio-item name="color" value="blue"></goa-radio-item>
  <goa-radio-item name="color" value="orange"></goa-radio-item>
</goa-radio-group>

<h2>Reactive Binding</h2>
<div>Selected value: {{ reactiveFormCtrl.value }}</div>

<goa-radio-group
  goaValue
  name="bindingColor"
  [formControl]="reactiveFormCtrl"
  [value]="reactiveFormCtrl.value"
>
  <goa-radio-item name="bindingColor" value="red"></goa-radio-item>
  <goa-radio-item name="bindingColor" value="blue"></goa-radio-item>
  <goa-radio-item name="bindingColor" value="orange"></goa-radio-item>
</goa-radio-group>

<h2>Reactive Binding - Disabled</h2>
<goa-radio-group
  name="color"
  goaValue
  [formControl]="reactiveFormCtrl"
  [attr.disabled]="true"
  value="reactiveFormCtrl.value"
>
  <goa-radio-item name="color" value="red"></goa-radio-item>
  <goa-radio-item name="color" value="blue"></goa-radio-item>
  <goa-radio-item name="color" value="orange"></goa-radio-item>
</goa-radio-group>
