<goa-tabs>
  <goa-tab>
    <div slot="heading">Profile</div>
    <strong>{{text}}</strong>
    <p>
      <b>Profile:</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>

    <goa-tabs (_change)="onChange($event)">
      <goa-tab heading="Tab Item 1">
        Tab Item 1: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </goa-tab>
      <goa-tab heading="Tab Item 2">
        Tab Item 2: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </goa-tab>
      <goa-tab heading="Tab Item 3">
        Tab Item 3: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </goa-tab>
    </goa-tabs>
  </goa-tab>
  <goa-tab>
    <div slot="heading">
      Review pending
      <goa-badge type="important" content="1"></goa-badge>
    </div>
    <p>
      <b>Review pending:</b> Lorem ipsum dolor sit amet, consectetur adipiscing
      elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </goa-tab>
  <goa-tab>
    <div slot="heading">
      Completed
      <goa-badge type="midtone" content="1"></goa-badge>
    </div>
    <p>
      <b>Completed:</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <p>New text</p>
  </goa-tab>
  <goa-tab heading="Test 1"> Testing </goa-tab>
</goa-tabs>


<goa-tabs>
  <goa-tab heading="1">Content 1</goa-tab>
  <goa-tab heading="2">Content 2</goa-tab>
  <goa-tab heading="3">Content 3</goa-tab>
  @if (isReport) {
    <goa-tab heading="Report">Some Random Content</goa-tab>
  }
</goa-tabs>

<goa-button (_click)="onClick()" mt="3xl">
  Add
</goa-button>
