<h2>Accordion</h2>
<a routerLink="/get-started">Click to access get started</a>
<br/>

<goa-accordion heading="This is the title" id="accordion1">
  <p>
    Test
  </p>
</goa-accordion>





<goa-accordion heading="This has dynamic content" secondarytext="Secondary text" id="accordion2">
  {{text}}
</goa-accordion>


<!--<goa-button type="tertiary" mb="xl" (_click)="onClick()">-->
<!--  Toggle Accordion Group-->
<!--</goa-button>-->

<!--<goa-accordion heading="Heading" [open]="open">-->
<!--  Content 1-->
<!--</goa-accordion>-->
<!--<goa-accordion heading="Heading" [open]="open">-->
<!--  <goa-badge type="success" content="Success" slot="headingcontent"></goa-badge>-->
<!--  Content 2-->
<!--</goa-accordion>-->
<!--<goa-accordion heading="Heading" [open]="open">-->
<!--  Content 3-->
<!--</goa-accordion>-->
