<h1>Checkbox</h1>
<h2>DOCS</h2>
<app-checkbox-docs/>

<goab-form-item label="Basic" [formGroup]="form">
    <goab-checkbox name="item" text="Item" formControlName="item"></goab-checkbox>
</goab-form-item>


<goab-form-item label="Select one or more options">
  <goab-checkbox [checked]="true" name="optionOne" text="Option one" [description]="descriptionTemplate">
    <ng-template #descriptionTemplate>
      <span>Help text with a <a href="#">link</a>.</span>
    </ng-template>
  </goab-checkbox>
  <goab-checkbox [checked]="false" name="optionTwo" text="Option two" />
  <goab-checkbox [checked]="false" name="optionThree" text="Option three" />
</goab-form-item>

