<goab-column-layout>
  <section slot="header">
    <goab-microsite-header type="alpha" version="UAT"></goab-microsite-header>
    <goab-app-header url="/" heading="Design System">
      <a href="/login">
        Sign in
      </a>
    </goab-app-header>
  </section>
  <div>
    <p>
      <goab-skeleton type="header" size="4"></goab-skeleton>
      <goab-skeleton type="text" size="1"></goab-skeleton>
    </p>
    <p>
      <goab-skeleton type="header" size="4"></goab-skeleton>
      <goab-skeleton type="text" size="1"></goab-skeleton>
    </p>
    <goab-grid minChildWidth="30ch">
      <goab-skeleton type="card" size="2"></goab-skeleton>
      <goab-skeleton type="card" size="2"></goab-skeleton>
    </goab-grid>
  </div>
  <section slot="footer">
    <goab-app-footer></goab-app-footer>
  </section>
</goab-column-layout>
