<h1>Dropdown</h1>

<hr/>

<!--<div>Selected Color: {{ reactiveFormCtrl.value }}</div>-->
<!--<goa-button (_click)="reactiveFormCtrl.setValue('red')" type="tertiary">-->
<!--  Update to red-->
<!--</goa-button>-->
<br/>

<!--  <goa-form-item label="Dropdown with append">-->
<!--&lt;!&ndash;    <goa-dropdown width="80%" >&ndash;&gt;-->
<!--&lt;!&ndash;      @for (color of colors; track color) {&ndash;&gt;-->
<!--&lt;!&ndash;        <goa-dropdown-item<div [style]="{&ndash;&gt;-->
<!--&lt;!&ndash;    width: '80%',&ndash;&gt;-->
<!--&lt;!&ndash;    'border': '2px solid #cacaca',&ndash;&gt;-->
<!--&lt;!&ndash;  }"&ndash;&gt;-->
<!--&lt;!&ndash;        >&ndash;&gt;-->
<!--&lt;!&ndash;          [value]="color"&ndash;&gt;-->
<!--&lt;!&ndash;          [label]="color"&ndash;&gt;-->
<!--&lt;!&ndash;        ></goa-dropdown-item>&ndash;&gt;-->
<!--&lt;!&ndash;      }&ndash;&gt;-->
<!--    </goa-dropdown>-->
<!--  </goa-form-item>-->
<!--</div>-->
<!--  <goa-form-item label="Dropdown">-->
<!--    <goa-dropdown width="50%" goaValue name="colors123" [formControl]="reactiveFormCtrl">-->
<!--      @for(color of colors; track color) {-->
<!--        <goa-dropdown-item-->
<!--          [value]="color"-->
<!--          [label]="color"-->
<!--        ></goa-dropdown-item>-->
<!--      }-->

<!--    </goa-dropdown>-->
<!--  </goa-form-item>-->
<!--</div>-->

<!--<goa-dropdown goaValue name="colors123" [formControl]="reactiveFormCtrl">-->
<!--  @for(color of colors; track color) {-->
<!--    <goa-dropdown-item-->
<!--      [value]="color"-->
<!--      [label]="color"-->
<!--    ></goa-dropdown-item>-->
<!--  }-->
<!--</goa-dropdown>-->

<!--<goa-dropdown-->
<!--  goaValue-->
<!--  filterable="true"-->
<!--  name="colors123"-->
<!--  [formControl]="reactiveFormCtrl"-->
<!--&gt;-->
<!--  @for(color of colors; track color) {-->
<!--    <goa-dropdown-item-->
<!--      [value]="color"-->
<!--      [label]="color"-->
<!--    ></goa-dropdown-item>-->
<!--  }-->

<!--</goa-dropdown>-->

<!--<button>stop</button>-->


<!--<form [formGroup]="fg" novalidate autocomplete="on" onsubmit="submit">-->
<!--  <goa-form-item label="Business Name"-->
<!--                 helptext="The name that will identify the business throughout APC. Use an “operating as” name for numbered businesses">-->
<!--    <goa-input-->
<!--      goaValue-->
<!--      name="businessName"-->
<!--      [value]="fg.value.businessName"-->
<!--      [formControl]="fg.controls.businessName"-->
<!--    ></goa-input>-->
<!--  </goa-form-item>-->
<!--  <goa-form-item label="CRA Business Number">-->
<!--    <goa-input goaValue name="craBusinessNumber" type="number"></goa-input>-->
<!--  </goa-form-item>-->

<!--  <goa-form-item label="Business Phone">-->
<!--    <goa-input name="number" leadingicon="call" type="tel"></goa-input>-->
<!--  </goa-form-item>-->
<!--  <goa-form-item label="Country">-->
<!--    <goa-dropdown-->
<!--      goaValue-->
<!--      filterable="true"-->
<!--      name="country"-->
<!--      [value]="fg.value.country"-->
<!--      [formControl]="fg.controls.country"-->
<!--      width="30ch"-->
<!--    >-->
<!--      @for(opt of countries; track opt) {-->
<!--        <goa-dropdown-item-->
<!--          name="country"-->
<!--          [value]="opt.code"-->
<!--          [label]="opt.name + '-' + opt.code"-->
<!--        ></goa-dropdown-item>-->
<!--      }-->
<!--    </goa-dropdown>-->
<!--  </goa-form-item>-->
<!--  <goa-form-item label="Street Address 1">-->
<!--    <goa-input-->
<!--      goaValue-->
<!--      type="text"-->
<!--      name="address1"-->
<!--      [value]="fg.value.address1"-->
<!--      [formControl]="fg.controls.address1"-->
<!--    ></goa-input>-->
<!--  </goa-form-item>-->
<!--  <goa-form-item label="Street Address 2">-->
<!--    <goa-input-->
<!--      goaValue-->
<!--      type="text"-->
<!--      name="address2"-->
<!--      [value]="fg.value.address2"-->
<!--      [formControl]="fg.controls.address2"-->
<!--    ></goa-input>-->
<!--  </goa-form-item>-->
<!--  <goa-form-item label="Postal Code">-->
<!--    <goa-input-->
<!--      goaValue-->
<!--      type="text"-->
<!--      name="postalCode"-->
<!--      [value]="fg.value.postalCode"-->
<!--      [formControl]="fg.controls.postalCode"-->
<!--    ></goa-input>-->
<!--  </goa-form-item>-->



<!--  <goa-form-item label="Province/State">-->
<!--    <goa-dropdown-->
<!--      goaValue-->
<!--      filterable-->
<!--      *ngIf="fg.value.country && subdivisions[fg.value.country] as subs; else noSubdivisions"-->
<!--      name="region"-->
<!--      [value]="fg.value.region"-->
<!--      [formControl]="fg.controls.region"-->
<!--      width="30ch"-->
<!--    >-->
<!--      @for(opt of subs; track opt) {-->
<!--        <goa-dropdown-item-->
<!--          name="region"-->
<!--          [value]="opt.code"-->
<!--          [label]="opt.name"-->
<!--        ></goa-dropdown-item>-->
<!--      }-->

<!--    </goa-dropdown>-->

<!--    <ng-template #noSubdivisions>-->
<!--      <goa-input-->
<!--        goaValue-->
<!--        type="text"-->
<!--        name="region"-->
<!--        [value]="fg.value.region"-->
<!--        [formControl]="fg.controls.region"-->
<!--      ></goa-input>-->
<!--    </ng-template>-->
<!--  </goa-form-item>-->

<!--  <goa-form-item label="dynamic colors from backend">-->
<!--    <goa-dropdown name="colors123" filterable (_change)="onChange($event)">-->
<!--      @for (color of colors; track color){-->
<!--        <goa-dropdown-item-->
<!--          [value]="color"-->
<!--          [label]="color"-->
<!--        ></goa-dropdown-item>-->
<!--      }-->
<!--    </goa-dropdown>-->
<!--  </goa-form-item>-->

<!--  <goa-form-item label="Basic dropdown" labelsize="regular" helptext="Test" error="test">-->
<!--    <goa-dropdown name="colors" value="blue" placeholder="test" leadingicon="alarm" maxheight="100px" width="500px" [disabled]=true arialabel="Test">-->
<!--      <goa-dropdown-item value="red" label="Red"></goa-dropdown-item>-->
<!--      <goa-dropdown-item value="green" label="Green"></goa-dropdown-item>-->
<!--      <goa-dropdown-item value="blue" label="Blue"></goa-dropdown-item>-->
<!--    </goa-dropdown>-->
<!--  </goa-form-item>-->

<!--  <goa-form-item label="Basic dropdown">-->
<!--    <goa-dropdown name="item" value="" [disabled]=true>-->
<!--      <goa-dropdown-item value="red" label="Red"></goa-dropdown-item>-->
<!--      <goa-dropdown-item value="green" label="Green"></goa-dropdown-item>-->
<!--      <goa-dropdown-item value="blue" label="Blue"></goa-dropdown-item>-->
<!--    </goa-dropdown>-->
<!--  </goa-form-item>-->

<!--  <goa-form-item label="Basic dropdown">-->
<!--    <goa-dropdown name="item" goaValue [disabled]=true [formControl]="reactiveFormCtrl" [value]="reactiveFormCtrl.value">-->


<!--      <goa-dropdown-item value="red" label="Red"></goa-dropdown-item>-->
<!--      <goa-dropdown-item value="green" label="Green"></goa-dropdown-item>-->
<!--      <goa-dropdown-item value="blue" label="Blue"></goa-dropdown-item>-->
<!--    </goa-dropdown>-->
<!--  </goa-form-item>-->



<!--  <div [style]="{-->
<!--    width: '80%',-->
<!--    margin: 'auto',-->
<!--    'border': '2px solid #cacaca',-->
<!--    padding: '1rem',-->
<!--    'border-radius': '0.25rem'-->
<!--  }"-->
<!--  >-->
<!--    <goa-form-item label="Input">-->
<!--      <goa-input name="input" width="100%"></goa-input>-->
<!--    </goa-form-item>-->

<!--    <goa-form-item label="Dropdown">-->
<!--      <goa-dropdown width="100%">-->
<!--        @for(option of colors; track option) {-->
<!--          <goa-dropdown-item-->
<!--            [value]="option"-->
<!--            [label]="option"-->
<!--          ></goa-dropdown-item>-->
<!--        }-->
<!--      </goa-dropdown>-->
<!--    </goa-form-item>-->

<!--    <goa-form-item label="Dropdown - Native">-->
<!--      <goa-dropdown width="100%" native>-->
<!--        @for(option of colors; track option) {-->
<!--          <goa-dropdown-item-->
<!--            [value]="option"-->
<!--            [label]="option"-->
<!--          ></goa-dropdown-item>-->
<!--        }-->
<!--      </goa-dropdown>-->
<!--    </goa-form-item>-->
<!--  </div>-->
<!--</form>-->


<!--<goa-form-item mt="m" label="New task" requirement="required"-->
<!--               helpText="If you couldn't find a task you want to work today, you can add a new task.">-->
<!--  <goa-input name="task" placeholder="Ex: Schedule a meeting"-->
<!--             [value]="newTask"-->
<!--             (_change)="onNewTaskChange($event)"-->
<!--  />-->
<!--</goa-form-item>-->

<!--<goa-form-item mt="m" label="Order">-->
<!--  <goa-dropdown name="mountType" [value]="mountType"-->
<!--                (_change)="onMountTypeChange($event)">-->
<!--    <goa-dropdown-item value="append" label="Add to the end of the list"></goa-dropdown-item>-->
<!--    <goa-dropdown-item value="prepend" label="Add to the beginning of the list"></goa-dropdown-item>-->
<!--    <goa-dropdown-item value="reset" label="Remove other tasks (reset)"></goa-dropdown-item>-->
<!--  </goa-dropdown>-->
<!--</goa-form-item>-->

<!--<goa-button mt="m" type="primary" (_click)="addTask()">Add task</goa-button>-->

<!--<goa-divider mt="m"></goa-divider>-->

<!--<goa-form-item mt="m" label="Select a task to work today">-->
<!--  <goa-dropdown  [value]="selectedTask" name="selectedTask"-->
<!--                 (_change)="onSelectedTaskChange($event)">-->
<!--    <goa-dropdown-item *ngFor="let task of tasks"-->
<!--                       [value]="task.value"-->
<!--                       [mount]="task.mount"-->
<!--                       [label]="task.label">-->
<!--    </goa-dropdown-item>-->
<!--  </goa-dropdown>-->
<!--</goa-form-item>-->
